/.idea/
Documents.iml
/out/production/Documents/CustomScanner.class
/out/production/Documents/HelloWorld.class
/out/production/Documents/InkrementacjaDekrementacja.class
/out/production/Documents/OperatoryMatematyczne.class
/out/production/Documents/TypyObiektowe.class
/out/production/Documents/TypyProste.class
/out/production/Documents/Zmienne.class
